*{
    padding: 0;
    margin: 0;

}
.test{
    margin: 40px auto;
}
.test h1{
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    color: rgb(35, 19, 211);
    padding-bottom: 10px;
    text-transform: uppercase;

}
.test h1::after{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 150px;
    margin: 20px auto 5px;
 
}
.test.row{
    margin-top: 20px;

}
.col-md-4{
    margin: 40px auto;

}
.profile{
    padding: 70px 10px 10px;
 
    

}
.profile img:hover{
    transform: scale(1.2);
    
    
}
.test h1:hover{
    
        transform: scale(1.2);
    
    
}
.profile p{

    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgb(8, 0, 255);
    background-color:greenyellow ;
    font-size: 20px;
    font-weight: bold;
}
.profile h3,h2{
    margin-left: 70px;
    color: blue;
    
}
.profile img{
    margin-top: 10px;
    margin-bottom: 10px;

}