


button {

        float:center;
        
        font-size: 20px;
}
.btn{

    color: darkblue;
}
.btn1{

    color: rgb(14, 220, 20);
}
.btn2{

    color: rgb(237, 14, 14);
}
